{% extends "base.html" %}
{% block content %}
    <div class="showlocn" align="center">
        <div class="container">
            <h3>Locations</h3>
            <div class="col-4">

                <p>to change any location click on a location.</p>
                <table class="table table-bordered border-dark border-2 rounded-1">
                    <thead class="thead-dark">
                        <th>Location</th>
                    </thead>
                    <tbody>
                        {% for lcn in locations %}
                        <tr>
                            <td><a href="/editlocation/{{ lcn.Location_name }}">{{ lcn.Location_name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}