{% extends "base.html" %}
{% block content %}
    <div class="show_prod_movmt" align="center">
        <div class="container">
            <h3>Product Movements</h3>
                <div class="col-8">
                    <table class="table table-bordered border-dark border-2 rounded-1">
                          <thead class="thead-dark">
                            <tr>
                                <th>movement id</th>
                                <th>date and time </th>
                                <th>location</th>
                                <th>product name</th>
                                <th> Quantity</th>
                            </tr>
                          </thead>
                    <tbody>
                        {% for prd in product_mvmt %}

                        <tr>
                            <td>{{ prd.movement_id }}</td>
                            <td>{{ prd.timestamp }}</td>
                            <td>{{ prd.loc}}</td>
{#                            {% if prd.id in products_name %}#}
                            <td>{{ products_name[prd.prod_id] }}</td>
{#                            {% endif %}#}
                            <td>{{ prd.qty }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>

                </div>
        </div>
    </div>
{% endblock %}